<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>mynote</title>
		<link rel="stylesheet" href="js/lib/layui/css/layui.css">
		<script src="config/constant.js"></script>
		<script src="js/lib/layui/layui.js"></script>
		<script src="js/lib/jquery-3.2.1.min.js"></script>
		<script src="js/lib/vue.min.js"></script>
	</head>

	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin" id="main">
			<div class="layui-header">
				<div class="layui-logo">我的笔记</div>
				<!-- 头部区域（可配合layui已有的水平导航） -->
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item">
						<input type="text" name="title" required lay-verify="required" placeholder="关键字" autocomplete="off" class="layui-input">
					</li>
					<li class="layui-nav-item">
						<button class="layui-btn">搜索</button>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;"><i class="layui-icon layui-icon-add-1"></i>新文件</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" @click="showNewNodeView(1)">新文件</a>
							</dd>
							<dd>
								<a href="javascript:;" @click="showNewNodeView(2)">新文件夹</a>
							</dd>
						</dl>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right" v-if="login">
					<li class="layui-nav-item">
						<a href="javascript:;">
							{{user.name}}
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a href="">基本资料</a>
							</dd>
							<dd>
								<a href="">安全设置</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:;" @click="logout">退了</a>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right" v-if="!login">
					<li class="layui-nav-item">
						<a href="javascript:;" @click="showLoginView">登录</a>
					</li>
				</ul>
			</div>
			<div class="layui-side layui-bg-black">
				<div class="layui-side" v-if="login">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree">
						<li class="layui-nav-item layui-nav-itemed">
							<a class="" href="javascript:;" @click="back"><i class="layui-icon layui-icon-return"></i> {{currentNode.nodeName}}</a>
							<dl class="layui-nav-child">
								<dd v-for="node in children">
									<a v-bind:id="node.id" href="javascript:;" @click="setRoot">{{node.nodeName}}</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>

			<div class="layui-body">
				<!-- 内容主体区域 -->
				<div style="padding: 15px;">content</div>
			</div>

			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© layui.com - 底部固定区域
			</div>
			<div id="newNode" v-if="popNewNode">
				<input type="text" name="title" v-model="formData.nodeName" lay-verify="required" placeholder="新文件" autocomplete="off" class="layui-input">
				<input hidden="true" v-model="formData.nodeType"/>
			</div>
			<div id="loginView" v-if="popLogin">
				<input type="text" name="title" v-model="user.account" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
				<input type="password" name="password" v-model="user.password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
			</div>
		</div>

	</body>
	<!-- 选择部门 -->

	<script>
		var element;
		//JavaScript代码区域
		layui.use('element', function() {
			var element = layui.element;
		});
		layui.use('layer', function() {
			var layer = layui.layer;
		});

		var vue = new Vue({
			el: "#main",
			data: {
				login: false,
				user: {},
				currentNode: {},
				children: [],
				formData: {},
				popNewNode:false,
				popLogin:false
			},
			methods: {
				getUser: function() {
					var _this = this;
					$.ajax({
						type: "GET",
						url: host + "/user",
						success: function(data) {　　　　　　　　　　　　　　
							if(data.code == 0) {
								_this.user = data.user;
								_this.login = true;
								_this.listNodes(data.user.rootNode);
							}
						},
						error: function() {
							alert("错误");
						}

					});
				},
				loginTo: function() {
					var _this = this;
					$.ajax({
						type: "POST",
						url: host + "/user/login",
						contentType: 'application/json',
						data: JSON.stringify(_this.user),
						success: function(data) {　　　　　　　　　　　　　　
							if(data.code == 0) {
								_this.user = data.user;
								_this.login = true;
								_this.listNodes(data.user.rootNode);
							} else {
								alert("登录失败");
							}
						},
						error: function() {
							alert("错误");
						}

					});

				},
				register: function() {
					var _this = this;

					$.ajax({
						type: "POST",
						url: host + "/user/register",
						contentType: 'application/json',
						data: JSON.stringify(_this.user),
						success: function(data) {　　　　　　　　　　　　　　
							if(data.code == 0) {
								_this.user = data.user;
								_this.login = true;
								_this.listNodes(data.user.rootNode);
							} else {
								alert("注册失败");
							}
						},
						error: function() {
							alert("错误");
						}

					});

				},
				logout: function() {
					var _this = this;
					$.post(host + "/user/logout", function(data) {
						if(data.code == 0) {
								_this.user = {};
								_this.login = false;
							}
					});

				},
				listNodes: function(id) {
					var _this = this;
					$.ajax({
						type: "GET",
						url: host + "/node/nodes/" + id,
						success: function(data) {　　　　　　　　　　　　　　
							if(data.code == 0) {
								_this.currentNode = data.currentNode;
								_this.children = data.chidlren;
							}
						},
						error: function() {
							alert("错误");
						}

					});
				},
				newNode: function() {
					var _this = this;

					$.ajax({
						type: "POST",
						url: host + "/node/newNode/" + _this.currentNode.id,
						contentType: 'application/json',
						data: JSON.stringify(vue.formData),
						success: function(data) {　　　　　　　　　　　　　　
							_this.listNodes(_this.currentNode.id);
						},
						error: function() {
							alert("错误");
						}

					});
				},
				showNewNodeView: function(nodeType) {
					var _this = this;
					_this.popNewNode = true;
					_this.formData.nodeType = nodeType;
					layer.open({
						type: 1,
						offset: '50px',
						title: "新文件",
						shade: 0,
						shadeClose: false,
						content: jQuery("#newNode"),
						btn: ['确定', '取消'],
						btn1: function(index) {
							_this.newNode();
							layer.close(index);
						}
					});
				},
				showLoginView: function() {
					var _this = this;
					_this.popLogin = true;
					layer.open({
						type: 1,
						offset: '50px',
						title: "登录",
						shade: 0,
						shadeClose: false,
						content: jQuery("#loginView"),
						btn: ['登录', '注册'],
						btn1: function(index) {
							_this.loginTo();
							layer.close(index);
						},
						btn2: function(index) {
							_this.register();
							layer.close(index);
						}
					});
				},
				back: function() {
					var _this = this;
					_this.listNodes(_this.currentNode.father);
				},
				setRoot:function(e){
					var _this = this;
					var id = e.target.getAttribute('id');
					_this.listNodes(id);
				}
			},
			created: function() {
				this.getUser();
			}
		})
	</script>

</html>